<header>
    <a href="#" class="logo">
        <img src="assets/imagenes/flechaa 1.png" alt="logo de la aplicacion">
    </a>
    <a href="#" class="logo1">
        <img src="assets/imagenes/logo.png" alt="logo de la aplicacion">
    </a> 
    <nav>
        <a href="" class="nav-link">
            <img src="assets/imagenes/Login 1.png" alt=""></a>
    </nav>
</header>
<hr>
<header id="encabezado">
    <nav class="subbarra">
        <a href="" class="nav-link">COMICS</a>
        <a href="" class="nav-link">CREADORES</a>
        <a href="" class="nav-link">EVENTOS</a>
        <a href="" class="nav-link">SERIES</a>
        <a href="" class="nav-link">ACERCA DE NOSOTROS</a>
    </nav>
</header>
<nav>
</nav>

<body>
    <div class="contenedor">
        <div class="contenedor__item">
            <img src="assets/imagenes/FondoRojo.png" alt="" class="contenedor__img">
            <img src="assets/imagenes/Marvel_Logo2.png" alt="" class="contenedor_logo">
            <pre class="contenedor__parrafo">La historia de Libreria imperial inicia con su fundacion en 1937, en Colombia,esta idea surge a partir del amor por la literatura,este
amor inspiro a un ciudadano a compartir con el mundo la pasion y la emocion de la lectura. Gracias a esta idea Libreria Imperial logra 
posicionarse como una de las mejores en Colombia y Latinoamerica, esta
cuenta con presencia en Ecuador, Perú, Chile, Argentina, Uruguay y Méxicosta disponible en 27 ciudades y tiene un total 
de 43 puntos de venta físicos.
                
Librería Imperial tiene dentro de su inventario de contenido impreso un aproximado de 3millones de títulos en diferentes idiomas.
Vende títulos de nuevos autores hasta de bestseller reconocidos a nivel global.Su obejtivo sonespacios atractivos que buscan 
incentivar la lectura a través de lugares innovadores.
                
Uno de los proyectos mas importantes es la alianza con Disney, esta busca que los usuarios puedan acceder a los diferentes comics de 
Marvel,
el proyecto busca crear una tienda virtual que no solo estará disponible para usuarios a través de su portal sino en las tiendas físicas 
los usuarios podrán acceder a este contenido a través de dispositivos de las 
tiendas.
                </pre>
        </div>
        <img src="assets/imagenes/pluma.png" alt="" class="contenedor_pluma">

    </div>
</body>
<footer>
    <div>
    <a href="https://es-la.facebook.com/" class="image">
        <img src="assets/imagenes/facebook.jpeg" alt="">
    </a>
    <a href="https://www.instagram.com/" class="image">
        <img src="assets/imagenes/instagram.jpeg" alt="logo de la aplicacion">
    </a>
    <a href="https://twitter.com/i/flow/login" class="image">
        <img src="assets/imagenes/twitter.jpeg" alt="">
    </a>
</div>
    <div>
        <a href="https://www.disneyplus.com/es-co" class="image">
            <img class="disney" src="assets/imagenes/disney.jpeg" alt="logo de la aplicacion">
        </a>
        <a href="https://www.marvel.com/" class="image">
            <img src="assets/imagenes/Marvel_Logo2.png" alt="logo de la aplicacion">
        </a>
    </div>
</footer> 
